<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-sm bg-white shadow-lg rounded-2xl p-6 relative">

        <h2 class="text-2xl font-bold text-center text-gray-700 mt-2">Register</h2>

        <form [formGroup]="SignOut" class="mt-4">
            <div class="mb-4">
                <label class="block text-gray-600 text-sm font-medium mb-2">Name</label>
                <input formControlName="name" type="text" placeholder="Enter your full name" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"> @if(SignOut.get('name')?.invalid && SignOut.get('name')?.touched)
                {
                <div class="flex mt-2 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                            </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Data requierd</span>

                    </div>
                </div>
                }

            </div>

            <div class="mb-4">
                <label class="block text-gray-600 text-sm font-medium mb-2">Email</label>
                <input formControlName="email" type="email" placeholder="Enter your email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"> @if(SignOut.get('email')?.invalid && SignOut.get('email')?.touched)
                {
                <div class="flex mt-2 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                            </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Data requierd</span>

                        <p>Ex: test&#64;gmail.com</p>

                    </div>
                </div>
                }
            </div>

            <div class="mb-4">
                <label class="block text-gray-600 text-sm font-medium mb-2">Password</label>
                <input formControlName="password" type="password" placeholder="Enter your password @ex:Test@123 " class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"> @if(SignOut.get('password')?.invalid && SignOut.get('password')?.touched)
                {
                <div class="flex mt-2 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                            </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Data requierd</span>

                        <p>Ex: test&#64;123</p>

                    </div>
                </div>
                }
            </div>

            <div class="mb-4">
                <label class="block text-gray-600 text-sm font-medium mb-2">Confirm Password</label>
                <input formControlName="rePassword" type="password" placeholder="Confirm your password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
            </div>


            <div class="mb-4 flex items-center gap-5">
                <div class="mb-4">
                    <label class="block text-gray-600 text-sm font-medium mb-2">Gender</label>
                    <select formControlName="gender" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                        <option value="" disabled>Select your gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label class="block text-gray-600 text-sm font-medium mb-2">Date of Birth</label>
                    <input formControlName="dateOfBirth" type="date" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                </div>
            </div>


            <button [disabled]="!SignOut.valid || loading" (click)="submitReg()" type="submit" class="w-full mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg transition duration-200 disabled:bg-slate-300">
                Register
                @if (loading) {
                   <i class="fa-solid fa-spinner fa-spin"></i>
                }
            </button>
        </form>

        <p class="text-center text-sm text-gray-600 mt-4">
            Already have an account?
            <a routerLink="/sign-in" class="text-blue-500 hover:underline">Login


            </a>
        </p>
    </div>
</div>